<mat-nav-list style="margin-top: -12px">
    <div class="profile-card nav-item">
        <img src="/assets/headshot.png">
        <div class="header">
            <p style="margin-top: 5px; text-align: left; margin-left: 15px">Phillip Teng
                <br>
                pteng14@email.com</p>
        </div>
        
    </div>

    <mat-divider style="margin-top: -20px;"></mat-divider>
    <a class="nav-item-active" mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>home</mat-icon>
        Home
    </a>
    <a class="nav-item" mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>volume_up</mat-icon>
        My Conversations
    </a>
    <a class="nav-item" mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        <mat-icon>group</mat-icon>
        Shared with Me
    </a>
    <a class="nav-item" mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        <mat-icon>apps</mat-icon>
        Apps
    </a>

    <mat-divider style="background-color: #808080;"></mat-divider>

    <a class="nav-item" mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <p style="width: 100px">GROUPS</p>
        <mat-icon style="margin-left: 230px">add_box</mat-icon>
    </a>
    <mat-divider style="background-color: #808080;"></mat-divider>
    <a class="nav-item" mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <p style="width: 100px">FOLDERS</p>
        <mat-icon style="margin-left: 224px">add_box</mat-icon>
    </a>
    <div style="height: 200px; width: 349px; background-color: #05294b"></div>
    <mat-divider style="background-color: #808080;"></mat-divider>
    <a class="nav-item" mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>my_library_books</mat-icon>
        All Conversations
    </a>
    <a class="nav-item" mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>delete</mat-icon>
        Trash    
    </a>
    <a class="nav-item" style="padding-bottom: 20px" mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <img src="assets/logo.png" style="width: 80px; padding-right: 10px">
        <p style="font-size: 18px;">
            Otter.ai    
        </p>
    </a>
</mat-nav-list>